/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

aside {
    width: 50%;
}

header  {
    flex: 0 0 auto;
}

main {
    width: 50%;
}

.main_block {
    flex: 1 0 auto;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.main_block__row {
    display: flex;
}

.top {
    text-align: left;
    font-size: 100px;
    font-weight: bold;
}

.bottom {
    text-align: left;
    font-size: 100px;
    font-weight: bold;
}

.about_me {
    margin: 80px;
}

.me {
    display: block;
    /* margin-left: auto; */
    margin-right: auto;
    border-radius: 100px;
}

h1 {
    padding: 20px 0 5px 0;
    font-size: 3em;
    line-height: 0.8em;
    text-transform: uppercase;
}

h3 {
    padding: 5px 0;
    font-size: 1.5em;
    line-height: 0.8em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.wine {
    text-decoration: line-through;
}

h4 {
    font-size: 1.3em;
    letter-spacing: 0.2em;
    margin-top: 20px;
}

.contact ul {
    margin-top: 15px;
}

.tg {
    background: url("src/images/tg.png") no-repeat left center;
    padding-left: 25px; 
}

.ig {
    background: url("src/images/ig.png") no-repeat left center;
    padding-left: 25px; 
}

.social a {
    text-decoration: none;
    color: black;
}

.social a:hover {
    text-decoration: underline;
}

.main_contacts a {
    text-decoration: none;
    color: black;
}

.main_contacts a:hover {
    text-decoration: underline;
}

.main_contacts li::before {
    content: ">>";
}

.degree .first::before {
    content: ">> ";
}

.degree .first {
    font-weight: 900;
    margin-top: 10px;
}

.degree .third {
    font-style: italic;
}

.exp .first::before {
    content: ">> ";
}

.exp .first {
    font-weight: 900;
    margin-top: 10px;
}

.exp .additional {
    font-style: italic;
    font-size: 0.9em;
}

.ach li::before {
    content: "> ";
}

.ach li {
    padding-left: 10px;
}

.competencies {
    margin-bottom: 20px;
}

h5::before {
    content: ">> ";
}

h5 {
    font-size: 0.9em;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
}

.another li::before {
    content: ">> ";
}

.other {
    margin-bottom: 25px;
}

footer {
    flex: 0 0 auto;
}

footer li {
    display: inline;
}

section {
    margin-bottom: 60px;
}

.examples {
    margin-top: 60px;
}

.git a {
    background: url("src/images/git.png") no-repeat left center;
    padding-left: 25px; 
    text-decoration: none;
    color: black;
}
header a {
    text-decoration: none;
}

.cv_header {
    width: auto;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: right;
}

.menu__box {
    display: inline-flex;
    justify-content: flex-end;
}

.menu__item a {
    color: black;
    margin: 0 10px;
}

.menu__item:hover {
    text-decoration: underline;
}

@media (max-width: 400px) and (min-width: 320px) {
    .main_block {
        min-width: 300px;
        margin: 0 auto;
    }
    .main_block__row {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .main_block__aside, .main_block__main {
        width: auto;
        margin: 0 auto;
        max-width: 310px;
    }

    .me {
        width: 160px;
        height: 160px;
        margin: 0 auto;
    }

    .about_me {
        margin: 10px 10px;
    }

    .top, .bottom {
        font-weight: 500;
        line-height: 100px;
    }

    .main_block__main {
        margin: 0 5px;
    }

    pre {
        max-width: 300px;
        overflow: auto;
    }

    code {
        max-width: 310px;
        margin: 0 auto;
        padding: 0;
    }

    section {
        margin-bottom: 40px;
    }

    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu-toggle{
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menu__box{
        visibility: visible;
        left: 0;
    }
}

@media (max-width: 800px) and (min-width: 401px) {
    .main_block {
        min-width: 380px;
        max-width: 80vmax;
        padding: 0 5px;
    }
    .main_block__row {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .main_block__aside, .main_block__main {
        width: auto;
        margin: 0 auto;
    }

    .me {
        margin: 0 auto;
    }

    .about_me {
        margin: 10px 10px;
    }

    .top, .bottom {
        font-weight: 700;
        line-height: 100px;
    }

    .main_block__main {
        margin: 0 5px;
    }

    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu-toggle{
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menu__box{
        visibility: visible;
        left: 0;
    }
}

@media (max-width: 1200px) and (min-width: 801px) {
    .main_block {
        min-width: 780px;
        max-width: 89vw;
    }

    .main_block__main {
        margin: 0 5px;
    }

    #menu-toggle {
        visibility: hidden;
    }
}

@media (max-width: 1500px) and (min-width: 1201px) {
    .main_block {
        min-width: 950px;
        max-width: 91vw;
    }

    .main_block__main {
        margin: 0 5px;
    }

    #menu-toggle {
        visibility: hidden;
    }
}

@media (min-width: 1501px) {
    .main_block {
        width: 1440px;
    }

    #menu-toggle {
        visibility: hidden;
    }
}

.competencies {

}

.competencies div {
    width: 100%;
    background: #F0F0F0;
    height: 24px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.html_bar::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 24px;
    left: 0;
    background: #546de5;
}

.css_bar::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 24px;
    left: 0;
    background: #f78fb3;
}

.js_bar::before {
    content: '';
    position: absolute;
    width: 45%;
    height: 24px;
    left: 0;
    background: #f5cd79;
}

.python_bar::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 24px;
    left: 0;
    background: #574b90;
}

.project_item img {
    border-radius: 15px;
    border: 3px solid #F0F0F0;
}

.project_item img:hover {
    border: 3px solid #f5cd79;
}

.project_item a {
    text-decoration: none;
    color: black;
}

.examples p {
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 50px;
}